<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple draft app</title>
    <link rel="stylesheet." href="/css/master.css">
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="form">
      <label for="">Team Name: </label>
      <input type="text" ng-model="teamName" name="" value="">
    </div>
    <div class="form">
      <label for="">Sport: </label>
      <input type="text" ng-model="sport" name="" value="">
    </div>
  </body>
</html>
